<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="info-box">
    <h2>Student Information</h2>
    <table>
      <tr><td>Name:</td><td>Ho Phu Loc</td></tr>
      <tr><td>Student ID:</td><td>2374802010288</td></tr>
      <tr><td>Academic Year:</td><td>2023-2027</td></tr>
      <tr><td>Major:</td><td>Information Technology</td></tr>
      <tr><td>Hobbies:</td><td>Coding, Play video game, Play football</td></tr>
    </table>
  </div>
</body>
</html>